@import 'tailwindcss';

@layer base {
  :root {
    color-scheme: light dark;
  }

  body {
    margin: 0;
    min-height: 100vh;
    font-family: var(--font-sans);
    background-color: color-mix(in srgb, #020617 90%, white);
  }
}
